name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Java Setup
        uses: actions/setup-java@v5.0.0
        with: 
          java-version: '8'
          distribution: 'temurin'
          cache: "maven"

      - name: Build
        run: mvn clean package
